@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Questrial);
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{
    margin:0;
    padding:0;
}
h1,h6{
    font-family:Questrial,sans-serif;
    color:#ef7cbd;
}
#menu li a,a{
    text-decoration:none
}
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
table{
    border-spacing:0
}
abbr,acronym,fieldset,img{
    border:0
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-weight:400;font-style:normal
}
strong{
    font-weight:700
}
ol,ul{
    list-style:none
}
caption,th{
    text-align:left
}
h1,h2,h3,h4,h5,h6{
    font-weight:400;
    font-size:100%
}
q:after,q:before{
    content:''
}
body{
        font-family:'Fauna One',sans-serif;
        color:#fff
}
.wrap{
    margin-left:auto;
    margin-right:auto;
    width:960px;position:relative
}
.content,.intro p{
    margin:0 auto;width:50%
}
h1{
    font-size:4em;
    letter-spacing:5px;
    font-weight:400;
    display:inline-block;
}
h2{
    font-size:1.6em;
    line-height:1.4em
}
h3{
    font-size:1.2em
}
h6{
    font-weight:600;
    margin-top:20px
}
#about,#homediv{
    color:#444
}
p{
    font-size:1em;font-family:'Fauna One',serif
}
#menu li,.apply{
    display:inline-block;
    font-family:Questrial,sans-serif
}
.intro p{
    font-size:1.5em
}
.section{
    text-align:center;
    min-height:95vh;

}
#about,#faq{
    text-align:left
}
.content{
    padding-top:10%
}
#about,#home{
    background-repeat:no-repeat
}

#home{
    background:url(parent.jpg) center center no-repeat fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    z-index:10;
    height:65vh
}
#homediv{
    width:100vw;height:50vh;background-color:#fff;position:absolute;top:0
}
.apply,a:hover .apply{
    color:#fff;transition:.4s all
}
.apply{
    padding:20px;border:1px solid #DB630D;background:##ef7cbd
}
#whycare{
    background:url(side.jpg);
    height: 100%;
}
a:hover .apply{
    background:#9b1cae
}
a:hover .apply{
    border:1px solid #5d47b6
}
.faq-content{
    color:#444;
    width:80%;
    padding:0 0 5%;
    margin:0 auto;
    overflow:hidden
}
.faq-section{
    width:33.33%;
    float:left;
    display:inline-block;
    padding-right:2%
}
#sponsors{
    color:#fff
}
.google{
    height:15em
}
.akamai{
    height:9em
}
.twitter{
    height:6em
}
.delphix{
    height:4em;
    margin-bottom:1.7em
}
#whycare h1{
    color:#fff
}
#whycare h6{
    color:#fff;
    padding:0 2% 0 0}
#whycare a{
    color:#ef7cbd
}
#whycare .content{
    padding-top:6%;
    width:30%
}
#menu li{
    float:right;
    margin:10px;
    color:#777
}
#menu li.active{
    color:#5d47b6
}
#menu li a{
    color:#000;
    transition:.3s all
}
#menu li a:hover{
    color:#ef7cbd;
    transition:.3s all
}
#menu li a,#menu li.active a{
    padding:9px 18px;
    display:block
}
#menu li.active a{
    color:#9b1cae
}
#menu{
    position:fixed;
    top:0;left:0;
    height:40px;
    z-index:70;
    width:100%;
    padding:0;
    margin:0
}






















